.searchPlace {
  height: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3vw solid gray;
  border-bottom: 0.3vw solid gray;
}
.searchIcon {
  width: 8vw;
  height: 8vw;
}
.buttonStyle {
  width: 70vw;
  height: 12vw;
  border: none;
  margin-left: 10vw;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}
.searchResultsStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contentsBox {
  display: flex;
  align-items: center;
  gap: 8vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 20vw;
  border-bottom: 0.3vw solid gray;
}
.placeTitle {
  height: 12vw;
  display: flex;
  align-items: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}
.markIcon {
  width: 7vw;
  height: 7vw;
}

.labelSmall {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.35vw;
  line-height: 150%;
  color: #000000;
}
.labelSmallGrey {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.35vw;
  line-height: 150%;
  color: #898989;
}

.listResult {
  margin: 4vw;
}
.resultHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vw;
}
.labelLarge {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 5.92vw;
  line-height: 150%;
  color: #000000;
  width: 50vw;
}
.labelMedium {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}
.addButton {
  width: 28vw;
  padding: 2.4vw 7vw;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin: 1vw;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5vw;
  line-height: 150%;
  color: #000000;
  background-color: #313131;
  color: white;
}
.ratingStyle {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.open {
  display: flex;
  gap: 2vw;
  margin-bottom: 1vw;
}
.openingTime {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.35vw;
  line-height: 150%;
  color: #000000;
}
.labelSmallOpen {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.35vw;
  line-height: 150%;
  color: #000000;
  text-decoration-line: underline;
}
.website {
  display: flex;
  gap: 1vw;
}

.moreInfoStyle {
  margin-top: 1vw;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
  text-decoration-line: underline;
}
.reviewContentStyle {
  width: 100%;
  align-items: center;
}
.reviewAuthor {
  display: flex;
  gap: 1vw;
}

.star {
  width: 4.4vw;
  height: 4.4vw;
}

/*
.placeOrTicket {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



.ratingStyle {
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.placeAddressStyle {
  display: flex;
  text-align: left;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.placeNumberStyle {
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}
.placeOpenSytle {
  display: flex;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.placeWeekTimeToggleStyle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.placeWeekTimeDetailInfoSytle {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.webSiteStyle {
  display: flex;
  text-align: left;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: black;
  text-decoration: none;
}

.moreInfoStyle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.4vw;
  line-height: 200%;
}

.moreInfoDetailStyle {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 50vh;
  overflow: auto;
}



.myStyle {
  display: none;
  flex-direction: column;
  align-items: center;
}

.searchList {
  background-color: orange;
  height: 5vh;
}

.smallTextStyle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.1vw;
  line-height: 200%;
  color: gray;
}
.reviewStyle {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: flex-start;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 2.7vw;
  line-height: 200%;
  /* height: auto; */
/* } */
/* .imgStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}  */
