.infoContainer{
    margin-top: 13.33vw;
    margin-left: 8.89vw;
    margin-bottom: 12.78vw;
}

.labelLarge{
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 5.92vw;
    line-height: 150%;
    color: #000000;
}
.labelMedium{
    font-Family: "Pretendard";
    font-Style: normal;
    font-Weight: 600;
    font-Size: 4.45vw;
    line-Height: 150%;
    color: #898989;
}
.labelSmall{
    font-Family: "Pretendard";
    font-Style: normal;
    font-Weight: 600;
    font-Size: 3.35vw;
    line-Height: 150%;
    color: #898989;
};
.menuConatiner{

}