.memberBox{
    height: 27.78vw;
    padding-left: 8.89vw;
    padding-right: 3.33vw;
    display: flex;
    justify-content: space-between;
}
.memberBoxLeft{
    margin-top: 4.94vw;
}
.labelLarge{
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 5.92vw;
    line-height: 150%;
    color: #000000;
}
.paragraphSmallGrey{
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-size: 3.33vw;
    line-height: 160%;
    color: #898989;
}
.paragraphSSmallGrey{
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-size: 2.8vw;
    color: #898989;
    text-align: right;
}
.memberBoxRight{
    margin-top: 8vw;
}
.line{
    width: 100vw;
    height: 0px;
    border: 0.277vw solid rgba(137, 137, 137, 0.3);
}
.inviteBox{
    padding-top: 8.89vw;
    height: 27.78vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.paragraphSmall{
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-size: 3.33vw;
    line-height: 160%;
    width: 100vw;
    text-align: center;
    color: #000000;
}
.icon{
    height: 6.67vw;
    width: 6.67vw;
}