.planningCreateContainer {
  margin-top: 4.44vw;
  padding-left: 5.55vw;
  padding-right: 5.55vw;
}
.iconBox {
  display: flex;
  justify-content: center;
}
.icon {
  width: 35.55vw;
  height: 35.55vw;
  margin-top: 15.28vw;
  margin-bottom: 15.28vw;
}
.labelMedium {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}
.setBox {
  border: 0.277vw solid #e1e1e1;
  backdrop-filter: blur(0.277vw);
  border-radius: 2.77vw;
  width: 88.89vw;
  height: 14.44vw;
  display: flex;
  align-items: center;
  margin-bottom: 4.44vw;
}
.smallIcon {
  width: 6.67vw;
  height: 6.67vw;
  margin-left: 3.33vw;
  margin-right: 3.33vw;
}
.inputBox {
  border: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}
.buttonBox {
  margin-bottom: 7.5vw;
}

.button {
  width: auto;
}
