.planContainer {
  margin-top: 6vw;
  margin-left: 4.17vw;
  margin-right: 4.17vw;
}
.headStyle {
  margin-left: 4.17vw;
  margin-right: 4.17vw;
  margin-bottom: 4.44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labelLarge {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 5.92vw;
  line-height: 150%;
  color: #000000;
}
.labelMedium {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 4.45vw;
  line-height: 150%;
  color: #000000;
}

.editButton {
  width: 5vw;
  height: 5vw;
}

.labelSmall {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 3.35vw;
  line-height: 150%;
  color: #000000;
}

.smallBoldFont {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.9vw;
  line-height: 140%;
}
.dayBox {
  text-align: center;
}
.previousButton {
  transform: rotate(90deg);
  width: 4.44vw;
  height: 4.44vw;
}
.nextButton {
  transform: rotate(270deg);
  width: 4.44vw;
  height: 4.44vw;
}
.midStyle {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.377vw solid rgba(137, 137, 137, 0.3);
}
.planeBox {
  height: 33vw;
  border-bottom: 0.377vw solid rgba(137, 137, 137, 0.3);
}
.planeBoxStyle {
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.boxStyle {
  display: flex;
  justify-content: space-between;
  height: 31vw;
  align-items: center;
  gap: 10vw;
  border-top: 0.377vw solid rgba(137, 137, 137, 0.3);
  border-bottom: 0.377vw solid rgba(137, 137, 137, 0.3);
}
.boxLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29vw;
  width: 60vw;
}
.imgStyle {
  width: 46vw;
  height: 29vw;
  object-fit: cover;
  border-radius: 1vw;
}
.planInfoBox {
  width: 45vw;
}

.addBox {
  display: flex;
  height: 33vw;
  justify-content: center;
  align-items: center;
  border-top: 0.377vw solid rgba(137, 137, 137, 0.3);
  border-bottom: 0.377vw solid rgba(137, 137, 137, 0.3);
  margin-bottom: 20vw;
}
.iconBox {
  padding-top: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  justify-content: right;
}
.removeIcon {
  width: 3.5vw;
  height: 3.5vw;
}

.icon {
  width: 4.44vw;
  height: 4.44vw;
}
