.planContainer{
  margin-top: 6vw;
  margin-left: 4.17vw;
  margin-right: 4.17vw;
}
.headStyle {
  margin-left: 4.17vw;
  margin-right: 4.17vw;
  margin-bottom: 4.44vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labelLarge{
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 5.92vw;
  line-height: 150%;
  color: #000000;
}
.labelMedium{
  font-Family: "Pretendard";
  font-Style: normal;
  font-Weight: 600;
  font-Size: 4.45vw;
  line-Height: 150%;
  color: #000000;
}

.editButton{
  width: 5vw;
  height: 5vw;
}

.labelSmall{
  font-Family: "Pretendard";
  font-Style: normal;
  font-Weight: 600;
  font-Size: 3.35vw;
  line-Height: 150%;
  color: #000000;
}

.smallBoldFont {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 3.9vw;
  line-height: 140%;
}
.dayBox{
  text-align: center;
}
.previousButton {
  transform: rotate(90deg);
}
.nextButton {
  transform: rotate(270deg);
}
.midStyle {
  height: 50px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boxStyle {
  position: relative; 
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 0px;
  margin: 10px;
  height: 18vh;
  border-radius: 10px;
}

.planeBoxStyle {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0 10px; /* 컨테이너의 양쪽에 패딩을 추가하여 내용이 테두리에 닿지 않도록 함 */
  height: 18vh;
  position: relative;
}



.addDetailPlanStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 23px;
  margin: 10px;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 0px;
}

.placeInfoStyle {
  margin-left: 15px;
  width: 170px;
}

.imgStyle {
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 5px;
}



.boxStyle .trashCanButton {
  position: absolute; /* 절대 위치 설정 */
  z-index: 10;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 10px;
}

.planeBoxStyle .trashCanButton {
  position: absolute; /* 절대 위치 설정 */
  z-index: 10;
  width: 20px;
  height: 20px;
  bottom: 10px;
  right: 10px;
}

.smallPlaneStyle {
  width: 30px;
  height: 30px;
}

.planeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* 비행기 아이콘을 제외한 각 항목이 flex 컨테이너 내에서 동일한 공간을 차지하도록 함 */
  text-align: center; /* 텍스트를 중앙 정렬 */
}
