.star {
  display: inline-block;
  color: transparent;
  position: relative;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fc0;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}

.star::before {
  border-bottom: 8px solid #fc0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4.5px;
  left: -6.5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star::after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -10px;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fc0;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
